*, html {
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

#container{
	width: 960px;
	height: 100%; 
	margin: 0 auto;
}

#big_header{
	width: 960px;
	height: 100px;
	background: #408080;
}

#top_menu{
	width: 960px;
	height: 35px;
	background: #ff8000;
}

#content{
	width: 960px;
	min-height: 100%;
	background: #408080;
}

#footer{
	width: 960px;
	height: 50px;
	background: #ff8000;
}

.scan_form{
	width: 400px;
	height: 100px;
	margin: 300px auto 0px;
	padding: 5px;
}

.scan_form legend{
	text-align: center;
	font-size: 22pt;
	margin: 0 auto 25px;	
}

.scan_form input[type=text], input[type=submit]{
	margin-right: 35px;
	font-size: 18pt;	
}

.scan_form input[type=text]{
	width: 230px;
}

.scan_form label{
	display: inline-block;
	font-size: 18pt;
	width: 100px;
}

.frm_row{
	width: 95%;
	margin: 15px auto;
}

#response{
	width: 400px;
	margin: 15px auto;
}

.clear{
	height: 1px;
	zoom: -1;
	clear: both;
}
